* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    cursor: default;
}

ul {
    list-style: none;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

input {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    font-size: 20px;
}

#navbar {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 800px;
    height: 60px;
    z-index: 1;
    margin-bottom: 10px;
}

.navbar__toggle-btn {
    padding: 16px;
}

.navbar__logo {
    justify-items: flex-start;
    padding: 16px 8px;
}

.navbar__search-bar {
    display: flex;
    flex: 1;
    flex-basis: 1e-9px;
    min-width: 0px;
    padding: 8px 0;
}

input.search-bar {
    height: 40px;
    align-items: center;
    border: 1px solid grey;
    border-radius: 40px 0 0 40px;
    padding: 0px 4px 0px 16px;
    margin-left: 32px;
}

button.search-btn {
    display: inline-block;
    height: 40px;
    width: 64px;
    align-items: end;
    border: 1px solid grey;
    border-left-color: transparent;
    background-color: lightgray;
    border-radius: 0 40px 40px 0;
}

button.search-microphone {
    box-sizing: content-box;
    width: 40px;
    height: 40px;
    padding: 0px 16px;
    text-align: center;
    margin-left: 4px;
    margin-bottom: 16px;
    border: 1px solid darkgray;
    
    border-radius: 50%;
    flex: 1;
}

button.search-microphone:hover {
    background-color: lightgray;
}

ul.navbar__menu {
    display: flex;
    justify-content: flex-end;
    min-width: 100px;
    margin: 0px 8px;
    padding: 8px;
}

li.navbar__menu__item {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    padding-top: 10px;
    text-align: center;
    align-items: center;
    border: 1px solid darkgray;
    border-radius: 50%;
    flex: 1;
    margin-left: 4px;
}

li.navbar__menu__item:hover {
    cursor: pointer;
    background-color: lightgray;
}

#container {
    display: flex;
}

#content {
    width: 70%;
}

.content__video {
    width: 100%;
    padding: 16px;
}

.content__video__play {
    width: 100%;
    height: 100%;
    max-width: 917px;
    max-height: 516px;

}

