* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    cursor: default;
}

ul {
    list-style: none;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

input {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    font-size: 20px;
}

#navbar {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 800px;
    height: 20;
    z-index: 1;
}

.navbar__toggle-btn {
    padding: 16px;
}

.navbar__logo {
    justify-content: flex-start;
    padding: 16px 8px;
}

.navbar__search-bar {
    flex: 1;
    flex-basis: 1e-9px;
    min-width: 0px;
    margin-bottom: 16px;
}

input.search-bar {
    height: 40px;
    align-items: center;
    border: 1px solid grey;
    border-radius: 40px 0 0 40px;
    padding: 0px 4px 0px 16px;
    margin-left: 32px;
    flex: 1;
}

button.search-btn {
    display: inline-block;
    height: 40px;
    width: 64px;
    align-items: end;
    border: 1px solid grey;
    border-left-color: transparent;
    background-color: lightgray;
    border-radius: 0 40px 40px 0;
}
